---
import Header from '@/components/Header.astro';
import Side from '@/components/Side.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout
  backgroundColor="--red"
>
  <div class="grid">
    <div class="line-vertical"></div>
    <Header />
    <div class="heading__group line-horizon">
      <h1 class="heading">About</h1>
    </div>
    <div class="gr-bottom line-horizon"></div>
    <Side backgroundColor="--blue-light" />
  </div>
</Layout>

<style lang="scss">
  .grid {
    padding: 1.25rem;
    display: grid;
    grid-template-columns: 32.6875rem 1fr 8.4375rem 13.75rem;
    grid-template-columns: 32.6875rem 26.375rem 1fr 13.75rem;
    grid-template-rows: 4rem 4rem 10.9375rem 1fr;
    height: 100dvh;
  }
  .line-horizon {
    position: relative;
    &::before {
      content: '';
      width: 100%;
      width: calc(100vw - 13.75rem - 2.5rem);
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: var(--black);
    }
  }
  .line-vertical {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    position: relative;
    &::before {
      content: '';
      width: 1px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--black);
    }
  }
  .heading__group {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    align-self: end;
  }
  .heading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 1;
  }
  .gr-bottom {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
</style>
